@using PracticalApprouchToReplatform.Legacy.Controllers
@model PracticalApprouchToReplatform.Legacy.Commands.CreatePackageCommand

@{
    ViewBag.Title = "Create package";
}

<h2>Create package</h2>

@using (Html.BeginForm(nameof(PackageController.Create), "Package", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Barcode)
        @Html.TextBoxFor(model => model.Barcode, new {@class="form-control",@type="number"})
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
